.project-page {
    text-align: center;
    font-size: medium;
    width: 100%;
    height: 100%;
    overflow-y: scroll;

    .project_container {
        display: grid;
        // margin-top: 150px;
        grid-template-columns: repeat(4, 1fr);
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 45px;
        transition: 0.3s ease height;
        top: 0;
        left: 0;
        height: auto;
    }

    .fade-in {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transition: 0.7s ease opacity;
        background: black;
    }
}